input {
    &::placeholder {
        color: inherit;
    }

    @include font(medium);

    width: 100%;
    padding: space(p) - 2;

    font-size: font-size(normal);
    color: color(light, darken);

    background-color: color(light);
    border-radius: 5px;
}