section {
    &.lead {
        @include responsive(large) {
            background: {
                image: url(../images/bg.png);
                position: center;
                size: cover;
                repeat: no-repeat;
            }
        }

        background-color: color(dark, dark);

        padding: 90px 0 60px;

        .showNumbers {
            div {
                position: relative;

                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                &:before {
                    @include responsive(large) {
                        top: 15px;
                        left: -189px;

                        width: 190px;
                        height: 3px;
                    }

                    content: "";

                    position: absolute;
                    top: -75px;
                    left: 20px;

                    height: 90px;
                    width: 3px;

                    background-color: color(primary);
                }
                p {
                    @include responsive(large) {
                        margin: 0;
                        padding: 0;
                    }

                    margin: 0 0 space(m);
                    padding: 0 0 0 space(xg);

                    font-size: font-size(large) + .2;

                    strong {
                        display: block;

                        &:first-of-type {
                            font-size: font-size(xbig) + .8;
                            line-height: 1;
                            color: color(primary);
                        }
                    }

                    &:before {
                        @include sprite($icn-numbers-01);
                        @include responsive(large) {
                            position: inherit;
                            top: inherit;
                            left: inherit;

                            display: block;
                        }

                        content: "";

                        position: absolute;
                        top: 5px;
                        left: 5px;

                        margin: 0 0 space(p);
                    }
                }
                + div {
                    &:before {
                        @include responsive(large) {
                            top: 15px;
                            left: -189px;

                            width: 190px;
                            height: 3px;
                        }

                        content: "";
                        height: 70px;
                    }
                    p {
                        &:before {
                            @include sprite($icn-numbers-02);
                        }
                    }

                    + div {
                        &:before {
                            @include responsive(large) {
                                top: 15px;
                                left: -189px;

                                width: 190px;
                                height: 3px;
                            }

                            content: "";

                            top: -115px;

                            height: 100px;
                        }
                        p {
                            &:before {
                                @include sprite($icn-numbers-03);
                            }
                        }
                    }
                }
            }
        }

        .form--content {
            @include responsive(large) {
                position: absolute;
                top: -45px;

                max-width: 300px;
                margin: inherit;
            }

            position: relative;

            margin: space(g) 0 0;
            padding: space(g) space(m);

            background-color: color(dark);

            &:before {
                content: "";

                position: absolute;
                top: 0;
                left: 0;


                width: 4px;
                height: 40px;

                background-color: color(primary);
            }

            p {
                margin-bottom: space(base);
            }

            form {
                @include responsive(large) {
                    display: block;
                }

                display: none;
            }
        }
    }
    &.services {
        .my-5 {
            + .my-5 {
                h4 {
                    position: relative;

                    padding: 0 0 0 space(gg);

                    &:before {
                        @include sprite($icn-01);

                        content: "";

                        position: absolute;
                        top: -10px;
                        left: 0;
                    }
                }

                + .my-5 {
                    h4 {
                        &:before {
                            @include sprite($icn-02);
                        }
                    }

                    + .my-5 {
                        h4 {
                            &:before {
                                @include sprite($icn-03);
                            }
                        }

                        + .my-5 {
                            h4 {
                                &:before {
                                    @include sprite($icn-04);
                                }
                            }
                        }
                    }
                }
            }


            &:last-child {
                h4 {
                    padding: 0;

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .services--address {
            div {
                > div {
                    @include responsive(large) {
                        min-height: 318px;
                        margin: inherit;
                    }
                    position: relative;

                    min-height: 180px;
                    margin: 0 0 space(m);

                    background: {
                        image: url(../images/img-sp.png);
                        size: cover;
                        position: center;
                    }

                    p {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;

                        margin: auto;
                        width: 100%;
                        height: 30px;

                        + p {
                            @include responsive(large) {
                                margin: auto auto 0;
                            }
                            height: 90px;

                            margin: auto auto -15px;

                            font-size: font-size(normal);
                            line-height: 1;
                        }
                    }
                }
                + div {
                    > div {
                        background: {
                            image: url(../images/img-poa.png);
                        }
                    }

                    + div {
                        > div {
                            background: {
                                image: url(../images/img-londres.png);
                            }
                        }
                    }
                }
            }
        }
    }
}